h1 {
    font-size: 44px;
}

form#directions input, form#directions select {
    font-size: 20px;
    height: 30px;
    width: 100%;
}

div#mapcanvas img {
    max-width: none;
}

div#body {
    margin: 20px;
}

form#directions label {
    font-size: 16px;
}

span.place_list_rating {
    margin-left: 20px;
}